body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #555;
    margin: 20px;
}
h1,h2,h3,h4,h5,h6 {
    color: #4671D5;
}
h1 .small {
    font-size: 0.6em;
    color: #444;
}
#background {
    font-family: Arial, sans-serif;
    font-size: 500px;
    position: fixed;
    color: #d8e1f4;
    z-index: -1;
    top: 0;
    right: 0;
}
pre,code {
    background-color: #000;
    color: #FFF;
    border-radius: 5px;
    opacity: 0.9;
    padding: 5px;
}
ul.downloads {
    list-style-type: none;
    padding-left: 0;
}
ul.downloads li {
    margin-bottom: 10px;
}
a {
    text-decoration: none;
    border-bottom: 1px dotted #FFA400;
    color: #FFA400;
}
a:hover {
    border-bottom: none;
}